body {
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    color: white;
}

.header h1 {
    font-size: xx-large;
    text-transform: uppercase;
}

.header a {
    color: white;
}

.contents {
    background-color: black;
    color: red;
    position: relative
}