.banner {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1em;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 1;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1em; 
}

.content {
    position: relative;
    justify-self: center;
}

.content-img {
    filter: grayscale(1);
}

.content-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: navy;
    position: absolute; 
    top: 0;
    right: 0;
    width: 50%;
    height: 98%; 
    overflow: scroll;
    scrollbar-width: none;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 1em;
    border: 1em;
    margin: auto;
}



