.burger-menu {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.burger-icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
}

.burger-icon span:nth-child(1) {
    top: 10px;
}

.burger-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-icon span:nth-child(3) {
    bottom: 10px;
}

.burger-menu.active .burger-icon span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.burger-menu.active .burger-icon span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.menu {
    display: inline;
    position: static;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}

.burger-menu.active .menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.content {
    display: flex;
    margin-left: 100px;
}

h1 {
    text-align: center;
}

.content-img {
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20 px;
}

p {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20 px;   
}

@media (max-width: 720px) {
    .content {
    flex-direction: column;
}

    .menu {
    visibility: hidden;
    }

    .burger-menu {
    visibility: visible;
    }

}